<% if @page.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@page.errors.count, "error") %> prohibited this page from being saved:</h2>

    <ul>
    <% @page.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>


<p>
  <%= f.label :title, 'Title' %><br />
  <%= f.text_field :title %>
</p>

<p>
  <%= f.label :body, 'Body' %><br />
  <%= f.text_area :body %>
</p>

<p>
  <%= f.label :published, 'Published' %><br />
  <%= f.check_box :published %>
</p>

<p>
  <%= f.label :use_site_layout, 'Use Site Layout' %><br />
  <%= f.check_box :use_site_layout %>
</p>

<p>
  <%= f.submit 'Save', :disable_with => 'Saving...' %>
</p>
