<h1>Pages</h1>

<%= link_to 'Add a new page', new_page_path %>

<h2>Published</h2>

<table border="0" cellspacing="5" cellpadding="5">
  
  <thead>
    <tr>
      <th>Title</th>
      <th colspan='2'>&nbsp;</th>
    </tr>
  </thead>
  
  <tbody>
    <% @published_pages.each do |page| %>
      <tr>
        <td><%= link_to page.title, page_path(page) %></td>
        <td><%= link_to 'Edit', edit_page_path(page) %></td>
        <td><%= link_to 'Delete', page_path(page), :method => :delete %></td>
      </tr>
    <% end %>
  </tbody>
  
</table>

<h2>Draft</h2>

<table border="0" cellspacing="5" cellpadding="5">
  
  <thead>
    <tr>
      <th>Title</th>
      <th colspan='2'>&nbsp;</th>
    </tr>
  </thead>
  
  <tbody>
    <% @unpublished_pages.each do |page| %>
      <tr>
        <td><%= page.title %></td>
        <td><%= link_to 'Edit', edit_page_path(page) %></td>
        <td><%= link_to 'Delete', page_path(page), :method => :delete %></td>
      </tr>
    <% end %>
  </tbody>
  
</table>
